<h3>{{action}} outro filme no top 4</h3>
<br>
<br>
<form method="post">
  {% csrf_token %}
  <div>
    <label>Título:</label>
    <input name="title" value="{{top_filmes.title}}">
  </div>
  <div>
    <label>Personagem principal:</label>
    <input name="main_character" value="{{top_filmes.main_character}}">
  </div>
  <div>
    <label>Sentimentos:</label>
    <select name="feelings" required="" id="id_feelings" value="{{top_filmes.feelings}}">
      {% for opt in options %}
      <option value="{{ opt.0 }}">{{ opt.1 }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Posição no top:</label>
    <input name="position_in_top" value="{{top_filmes.position_in_top}}">
  </div>
  <div>
    <label>Data de lançamento:</label>
    <input type="date" name="release_date" value="{{top_filmes.release_date}}">
  </div>
  <input type="submit" value="Registrar">
</form>